<form class="m-5" #f="ngForm" (ngSubmit)="search(f)">
    <label class="me-2">Recherche</label>
    <input class="border border-black" [(ngModel)]="searchName" name="searchName"/>
    <button class="m-3 p-2 bg-purple-500 text-white rounded-lg" type="submit">Chercher</button>
    <button class="p-2 bg-red-500 text-white rounded-lg" (click)="reset()">Reset</button>
</form>
<section class="grid grid-cols-5 gap-4" >
    <app-category-card (click)="navigateToCategoriyQuizz(category.id)" *ngFor="let category of categories;" [category]="category"></app-category-card>
</section>
